<style type="text/css">
  table{
    margin-left: 90px;
  }
  .jumbotron{
    margin-top: 20px;
  }
  p{

    margin-top: 20px;

  }
</style>
<div class="container">
  <div class="jumbotron">
    <img src="hamza.jpg" height="200px;" width="200px;" class="rounded mx-auto d-block">


<p><strong><q >Hi, its me Muhammad Hamza, developer of CoronaMeter its a web app developed to help people get instant insights of Virus locally and Globally...Feel free to contribute to this project my fellow Dev's or follow me on twitter & Insta or message me for any suggestion's or new features to add hit below thanks!</q></strong></p>


<table class="table">
  <tr class="row">
    <td>
      <a href="https://github.com/zehqresh/coronameter"><h2><i style="color: black; font-size: 50px;" class="fab fa-github"></h2></i></a>
    </td>
    <td>
      <a href="https://twitter.com/zehqresh"><h2><i style="color: black; font-size: 50px;" class="fab fa-twitter"></h2></i></a>
    </td>
    <td>
      <a href="https://instagram.com/zehqresh"><h2><i style="color: black; font-size: 50px;" class="fab fa-instagram"></h2></i></a>
    </td>
  </tr>
</table>



 

 

   

  </div>
</div>