<style type="text/css">
	.card{
		padding: 2px;

	}
	

</style>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><h1><i class="fas fa-box-tissue"></i></h1></p>
                                    <h4 class="card-title">Cover Yourself</h4>
                                    <p class="card-text">Cover your nose and mouth with a disposable tissue or flexed elbow when you cough or sneeze</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card" style="margin-top: 10px;">
                                <div class="card-body text-center mt-4">
                                	<h1><i class="fas fa-hand-sparkles"></i></h1>
                                    <h4 class="card-title">Wash Your Hands</h4>
                                    <p class="card-text">Wash your hands regularly for 20 seconds, with soap and water or alcohol-based hand rub</p>
                                    
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card" style="margin-top: 10px;">
                                <div class="card-body text-center">
                                    <p><h1><i class="fas fa-handshake-slash"></i></h1></p>
                                    <h4 class="card-title">Avoid Contact</h4>
                                    <p class="card-text">Avoid close contact (1 meter or 3 feet) with people who are unwell</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card" style="margin-top: 10px;">
                                <div class="card-body text-center mt-4">
                                	<h1><i class="fas fa-home"></i></h1>
                                    <h4 class="card-title">Stay At Home</h4>
                                    <p class="card-text">Stay home and self-isolate from others in the household if you feel unwell</p>
                                    
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                  

                   <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card" style="margin-top: 10px;">
                                <div class="card-body text-center">
                                    <p><h1><i class="fas fa-hands-wash"></i></h1></p>
                                    <h4 class="card-title">Don't Touch</h4>
                                    <p class="card-text">Don't
Touch your eyes, nose, or mouth if your hands are not clean
</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card" style="margin-top: 10px;">
                                <div class="card-body text-center mt-4">
                                	<h1><i class="fas fa-spray-can"></i></h1>
                                    <h4 class="card-title">Keep Things Clean</h4>
                                    <p class="card-text">Keep your home and your surrounding's clean maintain healthy envirenment</p>
                                    
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<!-- Team -->